<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo.png"%>
			<% end %>
		</div>

		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Blog", root_path %></li>
			<li><%= link_to "About", about_path %></li>
		</ul>

		<ul>
			<li class="category">Social</li>
			<li><a target="_blank" href="https://www.behance.net/jaimesimental">Behance</a></li>
			<li><a target="_blank" href="https://vimeo.com/jaimesimental">Vimeo</a></li>
			<li><a target="_blank" href="https://www.facebook.com/jaime.simental">Facebook</a></li>
			<li><a target="_blank" href="https://www.instagram.com/jaimes9">Instagram</a></li>
			<li><a target="_blank" href="https://twitter.com/jaimesimental">Twitter</a></li>
		</ul>
	<% if !user_signed_in? %>
		<p class="sign_in"><%= link_to 'Login',  new_user_session_path %></p>
	<% end %>
	</div>

	<div id="main_content">
		<div id="header">
			<% if current_page?(root_path) %>
				<p>All Posts</p>
			<% elsif current_page?(about_path) %>
				<p>About</p>
			<% else %>
				<%=link_to "Back to All Post", root_path %>
			<% end %>

		<% if user_signed_in? %>
			<div class="buttons">
				<button class="button"><%= link_to "New Post", new_post_path %></button>
				<div id="button_logout">
					<%= button_to 'Log out', destroy_user_session_path, :method => :delete%>
				</div>
			</div>
		<% end %>
		</div>
	
	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert") %>
	<% end %>
	<%= yield %>
	</div>



</body>
</html>
